<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-primary text-center">Cadastro de Clientes</h2>
            <h4 class="text-secondary text-center">Bruno Henrique</h4>
            <h5 class="text-muted text-center">Sob a licença MIT</h5>
            <p class="text-center mt-3"><strong>Versão 1.0</strong></p>
        </div>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
