
@charset "UTF-8";

@font-face {
    font-family: "static";
    src: url("../static/NotoSansJP-Black.ttf");
}

/* Remover margens e garantir que o conteúdo ocupe a tela inteira */
html, body {
    font-size: 11px; /* Reduz o tamanho da fonte global */
    font-family: "static"; /* Se você estiver usando uma fonte personalizada */
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a rolagem global */
    box-sizing: border-box;
}

/* Container principal com altura máxima ajustada */
body {
    font-size: 12px;
    font-family: "static";
    display: flex;
    flex-direction: column;
}

/* Container de conteúdo que se ajusta ao tamanho da tela */
.container {
    font-size: 14px;
    font-family: "static";
    flex: 1;
    overflow: auto; /* Caso o conteúdo ultrapasse, adicione rolagem interna */
    padding-bottom: 70px; /* Para garantir que o rodapé não sobreponha o conteúdo */
}

/* Ajuste do rodapé fixo na parte inferior */
footer {
    font-size: 12px;
    font-family: "static";
    background-color: rgb(26, 99, 236);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 1em;
    padding: 5px;
}

footer p {
    font-size: 15px;
    font-family: "static";
    margin: 0;
    line-height: 35px; /* Centraliza o texto verticalmente */
}

footer img {
    font-size: 15px;
    font-family: "static";
    height: 35px; /* Ajuste a altura da imagem, caso necessário */
}

/* Ajustes para o layout do formulário */
.row {
    font-size: 13px;
    font-family: "static";
    margin: 0 10px; /* Garante que as colunas não fiquem grudadas */
    box-sizing: border-box;
}

.form-control {
    font-size: 12px;
    font-family: "static";
    box-sizing: border-box;
}

/* Ajustes para evitar que o conteúdo do formulário ultrapasse o tamanho da tela */
.container form {
    font-size: 15px;
    font-family: "static";
    max-width: 100%;
    overflow: hidden;
}

#btnReset {
    width: 48px;
    height: 48px;
    background-image: url(../img/limpar.png);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
/* ocultar o id do cliente */
#inputIdClient {
    display: none;
}
